@charset "UTF-8";

@font-face {
	font-family: 'Tetsubin-Gothic';
	src:url('Tetsubin-Gothic.otf')format('OpenType'),
      url('Tetsubin-Gothic.ttf')format('TrueType');
}

header{
  width: 80%;
  margin-left: 10%;
  background-color: #313131;
  overflow: hidden;
}

header p{
  color: #FFFFFF;
  font-family: "Tetubin-Gothic"
  font-size: 140%;
  letter-spacing: 10px;
  line-height: 300px;
  padding-left: 6%;
}
