@charset "UTF-8";

@font-face {
	font-family: "Tetsubin Gothic";
	src: url("Tetsubin-Gothic.otf") format("opentype"),
       url("Tetsubin-Gothic.ttf") format("truetype");
}
@font-face {
	font-family: "Banana Slip";
	src:url("Banana-Slip.otf") format("opentype");
	font-weight: normal;
}

body{
  font: 18px/1.2 "Tetsubin Gothic","Hiragino Kaku Gothic Pro","Osaka",Verdana,Arial,sans-serif;
	width: 80%;
	margin: 0% 10%;
}

header{
	margin: 1% 0%;
	background-color: #313131;
  overflow: hidden;
}

header p{
  color: #ffffff;
	font-family: "Banana Slip",sans-serif;
  font-size: 130%;
  letter-spacing: 8px;
  line-height: 200px;
  padding-left: 6%;
}

nav{
	border-top: 2px solid #313131;
	border-bottom: 2px solid #313131;
	overflow: hidden;
}

nav ul{
	width: 90%;
	margin: 0%;
	list-style-type: none;
}

nav li{
	width: calc(50% - 4px);
	border-left: 2px solid #313131;
	text-align: center;
	float: left;
}

nav li:last-child{
	border-right: 2px solid #313131;
}

nav a{
	display: block;
	text-decoration: none;
	color: #313131;
	line-height: 45px;
}

section{
  padding: 0% 2%;
  margin: 1% 0%;
  background-color: #ededed;
  border-radius: 2%;
  overflow: hidden;
}

.translation ul{
	width: 90%;
	margin: 0%;
	list-style-type: none;
  background-color: #ffffff;
}

.translation li{
	width: calc(50% - 4px);
	border: 2px solid #313131;
	text-align: center;
	float: left;
}

section.reference,section.used-font{
  line-height: 60%;
}
